In [336]:
record = {'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
         '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
         '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
         '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
         '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
         '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
         '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
         '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [337]:
import json

In [338]:
js = json.dumps(record)

In [339]:
js

'{"1001": {"name": "Choco Cake", "pr": 100, "qn": 34}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}}'

In [340]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [341]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [342]:
fd = open("record.json",'r')

txt = fd.read()

fd.close()

In [343]:
record = json.loads(txt)

In [344]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [345]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [346]:
fd = open("record.json",'r')

txt = fd.read()

fd.close()

In [347]:
record = json.loads(txt)

In [348]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [349]:
txt

'{"1001": {"name": "Choco Cake", "pr": 100, "qn": 34}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}}'

In [350]:
record = json.loads(txt)

In [351]:
type(record)

dict

In [352]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [353]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [354]:
#adding a Product

In [355]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1011
Enter name:COKE
Enter price:50
Enter quantity:100

In [381]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1011': {'name': 'COKE', 'pr': 50, 'qn': 100}}

In [382]:
#Deleting a Product

In [383]:
del record['1001']

KeyError: '1001'

In [384]:
deletedStock = record

In [385]:
import json

In [386]:
deletedStock = json.dumps(txt)

In [388]:
#Read Inventory

In [389]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [390]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1011': {'name': 'COKE', 'pr': 50, 'qn': 100}}

In [391]:
#Purchase Products

In [392]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id:
Enter the quantity:

ValueError: invalid literal for int() with base 10: ''

In [393]:
#Update Inventory After Purchase

In [394]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [395]:
#Sales JSON

In [396]:
sale = {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

KeyError: ''

In [397]:
import json

In [398]:
sale = json.dumps(txt)

In [401]:
fd = open("sale.json",'w')

fd.write(sale)

fd.close()

In [402]:
fd = open("sale.json",'r')

txt = fd.read()

fd.close()

sale