In [11]:
record = {'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
         '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
         '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
         '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
         '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
         '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
         '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
         '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [12]:
import json

In [13]:
js = json.dumps(record)

In [14]:
js

'{"1001": {"name": "Choco Cake", "pr": 100, "qn": 34}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}}'

In [15]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [17]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [18]:
fd = open("record.json",'r')

txt = fd.read()

fd.close()

In [19]:
record = json.loads(txt)

In [21]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [22]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [23]:
fd = open("record.json",'r')

txt = fd.read()

fd.close()

In [24]:
record = json.loads(txt)

In [25]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [28]:
txt

'{"1001": {"name": "Choco Cake", "pr": 100, "qn": 34}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}}'

In [29]:
record = json.loads(txt)

In [31]:
type(record)

dict

In [32]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [33]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

In [ ]:
#adding a Product

In [34]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1009
Enter name:Head Phones
Enter price:550
Enter quantity:70

In [35]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Head Phones', 'pr': 550, 'qn': 70}}

In [ ]:
#Deleting a Product

In [36]:
del record['1001']

In [37]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Head Phones', 'pr': 550, 'qn': 70}}

In [ ]:
#Read Inventory

In [38]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [39]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Head Phones', 'pr': 550, 'qn': 70}}

In [ ]:
#Purchase Products

In [40]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1005
Enter the quantity: 2
Product:  Pen
Price:  20
Billing Amount:  40

In [ ]:
#Update Inventory After Purchase

In [41]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
#Sales JSON

In [42]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'prod': '1005', 'qn': 2, 'amount': 40}

In [46]:
sale = json.dumps(record)

In [47]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Head Phones', 'pr': 550, 'qn': 70}}